{% extends "base.html" %}

{% load static %}

{% block content %}

<main id="main">
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="section-header mt-5">
                <p><strong>About Us</strong></p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-7 position-relative about-img" data-aos="fade-right" data-aos-delay="150">
                    <img src="{% static 'media/gallery/gallery-8.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="200">
                    <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                            About us at Fairfields Foods:
                        </p>
                        <hr>
                        <ul>
                            <li><i class="bi bi-check2-all"></i> Over 25 years experience in the bakery and catering
                                buisness</li>
                            <li><i class="bi bi-check2-all"></i> All of the food we cook and prepare is home made</li>
                            <li><i class="bi bi-check2-all"></i> All cakes are baked from scratch and decorated by hand
                            </li>
                        </ul>
                        <p>
                            We at Fairfields foods pride ourselves on cleanliness, time management and keeping our
                            customers happy
                        </p>
                        <hr>
                        <div class="position-relative mt-4">
                            <img src="{% static 'media/about-2.jpg' %}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- WHY US -->
    <section id="why-us" class="why-us section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <hr>
                <p><strong>Why choose us?</strong></p>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="150">
                    <div class="why-box">
                        <h3>Why Choose Fairfields Foods?</h3>
                        <p>
                            We pride ourselves in some stuff that needs to be added.
                        </p>
                    </div>
                </div><!-- End Why Box -->

                <div class="col-lg-8 d-flex align-items-center">
                    <div class="row gy-4">

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-clipboard-data"></i>
                                <h4>Happy customers</h4>
                                <p>We have had 3 happy cutomers to date</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-gem"></i>
                                <h4>Health and safety comliant</h4>
                                <p>Some stuff about health and safety certification</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-inboxes"></i>
                                <h4>Hygiene</h4>
                                <p>We are clean and stuff
                                </p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <hr>
                <p><strong>Our Professional Chefs</strong></p>
            </div>

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-right" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="{% static 'media/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Shan Williams</h4>
                            <span>Master Chef/Baker</span>
                            <p>With over 30 years experience in the food industry.</p>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                    <div class="chef-member">
                        <div class="member-img">
                            <img src="{% static 'media/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Chris Williams</h4>
                            <span>Sous Chef</span>
                            <p>I get told what to to do. Sometimes It's like working with Gordon Ramsey</p>
                        </div>
                    </div>
                </div><!-- End Chefs Member -->
            </div>
        </div>
    </section><!-- End Chefs Section -->
</main>

{% endblock %}