{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="hero" class="hero d-flex align-items-center section-bg">
	<div class="container">
		<div class="row justify-content-between gy-5">
			<div
				class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
				<h2 data-aos="fade-up">Welcome to<br>Fairfields Foods</h2>
				<p data-aos="fade-up" data-aos-delay="100">Professional catering services for all occasions</p>
				<div class="d-flex" data-aos="fade-up" data-aos-delay="200">
					<a href="#book-a-table" class="btn-book-a-table">Book us</a>
				</div>
			</div>
			<div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start d-none d-lg-block">
				<img src="{% static 'media/hero-img.png' %}" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
			</div>
		</div>
	</div>
</section>

{% endblock %}

<main id="main">

	<!-- ======= About Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">

			<div class="section-header">

				<p>Learn More <span>About Us</span></p>
			</div>

			<div class="row gy-4">
				<div class="col-lg-7 position-relative about-img" style="background-image: url(assets/img/about.jpg) ;"
					data-aos="fade-up" data-aos-delay="150">
				</div>
				<div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
					<div class="content ps-0 ps-lg-5">
						<p class="fst-italic">
							SOME WORDS ABOUT SOME STUFF..
						</p>
						<hr>
						<ul>
							<li><i class="bi bi-check2-all"></i> 25 years experience</li>
							<li><i class="bi bi-check2-all"></i> We have cookers and stuff.</li>
							<li><i class="bi bi-check2-all"></i> Sometimes we burn things.</li>
						</ul>
						<p>
							We at Fairfields foods pride ourselves on BLAH BLAH BLAH
						</p>
						<hr>
						<div class="position-relative mt-4">
							<img src="assets/img/about-2.jpg" class="img-fluid" alt="">
						</div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End About Section -->

	<!-- ======= Why Us Section ======= -->
	<section id="why-us" class="why-us section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-header">

				<p>Why<span> choose us?</span></p>
			</div>
			<div class="row gy-4">

				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="150">
					<div class="why-box">
						<h3>Why Choose Fairfields Foods?</h3>
						<p>
							We pride ourselves in Blah blah blah.
						</p>
						<div class="text-center">
							<a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
						</div>
					</div>
				</div><!-- End Why Box -->

				<div class="col-lg-8 d-flex align-items-center">
					<div class="row gy-4">

						<div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
							<div class="icon-box d-flex flex-column justify-content-center align-items-center">
								<i class="bi bi-clipboard-data"></i>
								<h4>Happy customers</h4>
								<p>We have had 3 happy cutomers to date</p>
							</div>
						</div><!-- End Icon Box -->

						<div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
							<div class="icon-box d-flex flex-column justify-content-center align-items-center">
								<i class="bi bi-gem"></i>
								<h4>Health and safety comliant</h4>
								<p>Some stuff about health and safety certification</p>
							</div>
						</div><!-- End Icon Box -->

						<div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
							<div class="icon-box d-flex flex-column justify-content-center align-items-center">
								<i class="bi bi-inboxes"></i>
								<h4>Hygiene</h4>
								<p>We are clean and stuff
								</p>
							</div>
						</div><!-- End Icon Box -->
					</div>
				</div>
			</div>
		</div>
	</section><!-- End Why Us Section -->

	
	<!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<h2>Testimonials</h2>
				<p>What Are They <span>Saying About Us?</span></p>
			</div>

			<div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
				<div class="swiper-wrapper">

					<div class="swiper-slide">
						<div class="testimonial-item">
							<div class="row gy-4 justify-content-center">
								<div class="col-lg-6">
									<div class="testimonial-content">
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											Nice buffet, the prawns gave me heartburn. Not the chefs fault. But I am
											sort of blaming them.
											But its not their fault.
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
										<h3>Saul Goodman</h3>
										<h4>Ceo &amp; Founder of Lawyer stuff</h4>
										<div class="stars">
											<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i>
										</div>
									</div>
								</div>
								<div class="col-lg-2 text-center">
									<img src="" class="img-fluid testimonial-img" alt="">
								</div>
							</div>
						</div>
					</div><!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<div class="row gy-4 justify-content-center">
								<div class="col-lg-6">
									<div class="testimonial-content">
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											I ain't eating that foreign muck again.
											Bloody ridiculous.
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
										<h3>Dad</h3>
										<h4>Retired Parent</h4>
										<div class="stars">
											<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i>
										</div>
									</div>
								</div>
								<div class="col-lg-2 text-center">
									<img src="" class="img-fluid testimonial-img" alt="">
								</div>
							</div>
						</div>
					</div><!-- End testimonial item -->

					<div class="swiper-slide">
						<div class="testimonial-item">
							<div class="row gy-4 justify-content-center">
								<div class="col-lg-6">
									<div class="testimonial-content">
										<p>
											<i class="bi bi-quote quote-icon-left"></i>
											Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam
											tempor noster veniam enim
											culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam
											culpa fore nisi cillum
											quid.
											<i class="bi bi-quote quote-icon-right"></i>
										</p>
										<h3>John Larson</h3>
										<h4>Entrepreneur</h4>
										<div class="stars">
											<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
												class="bi bi-star-fill"></i>
										</div>
									</div>
								</div>
								<div class="col-lg-2 text-center">
									<img src="assets/img/testimonials/testimonials-4.jpg"
										class="img-fluid testimonial-img" alt="">
								</div>
							</div>
						</div>
					</div><!-- End testimonial item -->

				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>
	</section><!-- End Testimonials Section -->

	<!-- ======= Chefs Section ======= -->
	<section id="chefs" class="chefs section">
		<div class="container" data-aos="fade-up">

			<div class="section-header">

				<p>Our <span>Professional</span> Chefs</p>
			</div>

			<div class="row gy-4">

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
					<div class="chef-member">
						<div class="member-img">
							<img src="assets/img/chefs/chefs-1.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href=""><i class="bi bi-twitter"></i></a>
								<a href=""><i class="bi bi-facebook"></i></a>
								<a href=""><i class="bi bi-instagram"></i></a>
								<a href=""><i class="bi bi-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Shan Williams</h4>
							<span>Master Chef/Baker</span>
							<p>With over 30 years experience in the food industry.</p>
						</div>
					</div>
				</div><!-- End Chefs Member -->

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
					<div class="chef-member">
						<div class="member-img">
							<img src="assets/img/chefs/chefs-2.jpg" class="img-fluid" alt="">
							<div class="social">
								<a href=""><i class="bi bi-twitter"></i></a>
								<a href=""><i class="bi bi-facebook"></i></a>
								<a href=""><i class="bi bi-instagram"></i></a>
								<a href=""><i class="bi bi-linkedin"></i></a>
							</div>
						</div>
						<div class="member-info">
							<h4>Chris Williams</h4>
							<span>Sous Chef</span>
							<p>I get told what to to do. Sometimes I get to wipe the crumbs off the surface.</p>
						</div>
					</div>
				</div><!-- End Chefs Member -->
			</div>
		</div>
	</section><!-- End Chefs Section -->

	<!-- ======= Book A Table Section ======= -->
	<section id="book-a-table" class="book-a-table section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<p>Book <span>With Us</span></p>
			</div>
			<div class="row g-0">

				<div class="col-lg-4 reservation-img" style="background-image: url(assets/img/reservation.jpg);"
					data-aos="zoom-out" data-aos-delay="200"></div>

				<div class="col-lg-8 d-flex align-items-center reservation-form-bg">
					<form action="forms/book-a-table.php" method="post" role="form" class="php-email-form"
						data-aos="fade-up" data-aos-delay="100">
						<div class="row gy-4">
							<div class="col-lg-4 col-md-6">
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
									data-rule="minlen:4" data-msg="Please enter at least 4 chars">
								<div class="validate"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<input type="email" class="form-control" name="email" id="email"
									placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
								<div class="validate"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone"
									data-rule="minlen:4" data-msg="Please enter at least 4 chars">
								<div class="validate"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<input type="text" name="date" class="form-control" id="date" placeholder="Date"
									data-rule="minlen:4" data-msg="Please enter at least 4 chars">
								<div class="validate"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<input type="text" class="form-control" name="time" id="time" placeholder="Time"
									data-rule="minlen:4" data-msg="Please enter at least 4 chars">
								<div class="validate"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<input type="number" class="form-control" name="people" id="people"
									placeholder="# of people" data-rule="minlen:1"
									data-msg="Please enter at least 1 chars">
								<div class="validate"></div>
							</div>
						</div>
						<div class="form-group mt-3">
							<textarea class="form-control" name="message" rows="5"
								placeholder="Dietery requirements"></textarea>
							<div class="validate"></div>
						</div>
						<div class="mb-3">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your booking request was sent. We will call back or send an
								Email to confirm
								your reservation. Thank you!</div>
						</div>
						<div class="text-center"><button type="submit">Submit</button></div>
					</form>
				</div><!-- End Reservation Form -->

			</div>

		</div>
	</section><!-- End Book A Table Section -->


	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact section">
		<div class="container" data-aos="fade-up">

			<div class="section-header">
				<p>Need Help? <span>Contact Us</span></p>
			</div>

			<div class="mb-3">
				<iframe style="border: 1px; width: 100%; height: 350px;"
					src="https://maps.google.com/maps?q=b781hq&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0"
					allowfullscreen></iframe>
			</div><!-- End Google Maps -->

			<div class="row gy-4">

				<div class="col-md-6">
					<div class="info-item  d-flex align-items-center">
						<i class="icon bi bi-map flex-shrink-0"></i>
						<div>
							<h3>Our Address</h3>
							<p> 84 Fairfields Hill, <br>
								Polesworth, <br>
								B78 1HQ</p>
						</div>
					</div>
				</div><!-- End Info Item -->

				<div class="col-md-6">
					<div class="info-item d-flex align-items-center">
						<i class="icon bi bi-envelope flex-shrink-0"></i>
						<div>
							<h3>Email Us</h3>
							<p>fairfieldsfood@gmail.com</p>
						</div>
					</div>

				</div> <!-- End Info Item -->

				<div class="col-md-6">
					<div class="info-item  d-flex align-items-center">
						<i class="icon bi bi-telephone flex-shrink-0"></i>
						<div>
							<h3>Call Us</h3>
							<p>07931221703</p>
						</div>
					</div>
				</div><!-- End Info Item -->

				<div class="col-md-6">
					<div class="info-item  d-flex align-items-center">
						<i class="icon bi bi-share flex-shrink-0"></i>
						<div>
							<h3>Opening Hours</h3>
							<div><strong>Mon-Fri:</strong> 9AM - 6PM; <br>
								<strong>Saturday:</strong> Closed <br>
								<strong>Sunday:</strong> Closed
							</div>
						</div>
					</div>
				</div><!-- End Info Item -->

			</div>
		</div>
	</section><!-- End Contact Section -->

</main>

