{% extends "base.html" %}

{% load static %}

{% block content %}

<section id="hero" class="hero d-flex align-items-center section-bg">
	<div class="container">
		<div class="row justify-content-between gy-5">
			<div
				class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
				{% if request.user.is_authenticated %}
				<p data-aos="fade-down">Welcome back {{user.username}}!</p>
				{% endif %}
				<h2 data-aos="fade-left" data-aos-delay="100">Welcome to<br>Fairfields Food</h2>
				<p data-aos="fade-down" data-aos-delay="100">Professional catering services for all occasions</p>
				<div class="d-flex" data-aos="fade-up" data-aos-delay="1100">

					<a href="{% url 'book-us' %}" class="btn-book-a-table">Book us</a>
				</div>
			</div>
			<div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start d-none d-lg-block">
				<img src="{% static 'media/hero-img.png' %}" class="img-fluid" alt="cupcake logo" data-aos="zoom-out"
					data-aos-delay="300">
			</div>
		</div>
	</div>
</section>

{% endblock %}